jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cat foo.txt > bar.txt
      - run: 'git commit -m "fix: update files"'
      - run: git push
name: build
on:
  pull_request: {}
  push:
    branches:
      - master
